body{
    border: 5px solid black;
    font-family: sans-serif;
    width: 1000px;
    
    margin: 100px auto;
    
}





header{
    background-color: rgb(219, 217, 213);
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* h2::after{
    content: "Sale";
    padding: 3px 20px;
    background-color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: absolute;
    top: 0;
    left: 0;

} */

header > h2{
    margin: 0;
}

.price{
    display: inline-block;
    font-size: 20px;
}

.shipping{
    
    display: inline-block;
    font-size: 15px;
    color: rgb(197, 175, 146);
}
.product-desc{
    margin: 0;
    font-weight: bold;
    line-height: 1.5;
}
.product-feat{
    font-weight: bold;
    line-height: 1.5;
}
a:link{
    color: black;
    font-weight: bold;
   
}

.button{
    margin: 0px;
    border: 0px solid black;
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;

}

.button:hover{
    background-color: white;
    color:black;
    outline: 2px solid black;
    
}



 .red{
    width: 30px;
    height: 30px;
    
    background-color: red;
}
.yellow{
    width: 30px;
    height: 30px;
    background-color: yellow;
}
.blue{
    width: 30px;
    height: 30px;
    background-color: blue;
}
.green{
    width: 30px;
    height: 30px;
    background-color: green;
}
.black{
    width: 30px;
    height: 30px;
    background-color: black;
}

/* LAYOUTS */

/* .pic{
    float: left;
}

.product-info{
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
    
}
.shipping{
    float: right;
    
}
.product-details{
    float: left;
    margin-left: 30px;
} */

/* Flex Layouts*/

.colour{
    
    display: flex;
    gap: 20px;
    /* margin-bottom: 10px; */
   
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .main-body{
    align-items: flex-start;
    display: flex;
    gap: 40px;
    flex: 1;
} */


/*Layout using grids */

.main-body{
    display: grid;
    grid-template-columns: 200px repeat(2,1fr);
    column-gap: 30px;
    row-gap: 30px;
}

header{
    grid-column: 1/ -1;
}
button{
    grid-column: 1 / -1;
}