
/**************************************/
/*Hero Section */
.section-hero{
    height: 100vh;
    padding: 2rem 0;
    background-color: #fdf2e9;
}

.hero{
    height: 100vh;
    margin: 0 auto;
    max-width: 130rem; /* 130 rem = 1300px */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 2rem;
    padding:0 2rem;
    
}

.hero-img{
    width: 100%;
    
    
}

.primary-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 5rem;
}

.delivered-meals{
    margin-top: 10rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.delivered-imgs img{
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: -1.2rem;
}

.delivered-imgs img:last-child{
    margin: 0;
}

.delivered-text {
    font-size: 1.6rem;
    word-spacing: 2px;
}

.delivered-text span{
    color: #e67e22;
    font-weight: 700;
    font-size: 1.8rem;
}

@media screen and (max-width:400px) {
    .hero{
        height: 100vh;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        
        padding:0 2rem;
    }
}

/**************************************/

/**************************************/
/*Header Section */

header{
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    padding: 0 4.6rem;
}

header img{
    height: 2.4rem;
    
}

/**************************************/
/*Navigation Section */
.main-nav{
    display: flex;
    gap: 4.6rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;  
    
}

.main-nav-link:link,
.main-nav-link:visited
{
    color: #333333;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    transition: all 0.5s;
    
}

.main-nav-link:hover,
.main-nav-link:active
{
    color: #e67e22;
    
}

.main-nav-link.cta-main-nav:link,
.main-nav-link.cta-main-nav:visited{
    padding: 1.2rem 2.4rem;
    background-color: #e67e22;
    color: white;
    border-radius: 6px;
    transition: all 1s;
}

.main-nav-link.cta-main-nav:hover,
.main-nav-link.cta-main-nav:active{
    
    background-color: orangered;
    font-size: 1.8rem;
    
}

/**************************************/

/**************************************/
/*Featured in  Section */

.featured-in{
    padding: 4.2rem 0;
    margin-bottom: 4.2rem;
}
.featured-in>.container h2{
    color: #888;
    font-weight: 500;
    letter-spacing: 0.7;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.2rem;
}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos img{
    width: 12%;
    height: 20%;
    filter: brightness(0);
    opacity: 50%;
}

/**************************************/

/**************************************/
/*How it work Section */

.section-how{
    padding: 2rem 0;
}

.how-it-work-text{
    display: inline-block;
    color: #e67e22;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.step-number{
    font-size: 9.6rem;
    color: #bbb;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.how-description{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #555;
    margin-top: 4.2rem;
}

.img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-how img{
    width: 30%;
   
}

.img-box::before,
.img-box::after
{
    content: "";
    width: 50%;
    /* height: 100px; */
    padding-bottom: 50%;
    background-color: #fdf2e9;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: -1;
   
}

.img-box::after{
    width: 40%;
    padding-bottom: 40%;
    background-color:#f8d8bd ;
}

/**************************************/



/**************************************/
/*Meal Section */

.section-meal{
    padding: 4.2rem 0;
}
.section-title{
    display: inline-block;
    color: #e67e22;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.tag{
    font-weight: 500;
    font-size: 1.2rem;
    
    color: black;
    padding: 0.4rem 0.6rem;
    display: inline-block;
    border-radius: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}

.tag--green{
    background-color: #40c057;
}
.tag--lightgreen{
    background-color: #69db7c;
}
.tag--yellow{
    background-color: #fcc419;
}

.tag-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

    
.meal-content{
    padding:3rem 3.2rem 4.6rem 5rem;

}

.meals{
    border-radius: 1.2rem;
    box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.075) ;
    overflow: hidden;
    cursor: pointer;
    transition:all 0.4s;
}

.meals:hover{
    transform: translateY(-2rem);
    box-shadow: 0 3.2rem 4.6rem rgba(0, 0, 0, 0.085) ;

}



.meals img{
    width: 100%;
}

.meal-attributes{
    margin-top: 3.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.meal-attribute{
    font-size: 1.6rem;
    color: #212529;
    display: flex;
    align-items: center;
    
    gap: 1.8rem;
}

.icon{
    font-size: 1.8rem;
    color: #e67e22;
    
}

.diet{
    padding: 0.2rem 2.4rem 1.2rem;
}

.list-diets{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.list-diet{
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.list-diet span{
    font-size: 1.8rem;
}

.diet-icon{
    font-size: 1.8rem;
    color: #e67e22;
}

.all-recipe a:link,
.all-recipe a:visited{
   display: block;
    color: #e67e22;
    text-align: center;
    font-size: 1.8rem;
   text-decoration: none;
}

.all-recipe a:hover,
.all-recipe a:active{
    text-decoration: underline;
    color: #f6790b;
}

/**************************************/


/**************************************/
/*Testimonial Section */

    /* Testimonial-Section */

.section-testimonial{
    background-color: #fdf2e9;
}

.testimonial-gallery{
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    column-gap: 4.4rem;
    padding: 2rem ;
}

.testimonial-content{
    /* margin-top: 15rem; */
    margin-left: 8rem;
}

.testimonial-content h2{
    display: inline-block;
    color: #e67e22;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
}

.testimonial-content p{
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 7rem;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 7.2rem;

}

.testimonial img{
    width: 20%;
    border-radius: 100%;
}

blockquote{
    font-size: 1.8rem;
    line-height: 1.6;
}

.testimonial p{
    font-weight: 400;
    font-size: 1.6rem;
    color: #777;
}

    /* Gallery Section */

.gallery-box{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    
}

.gallery-box figure{
    overflow: hidden;
}

.gallery-box img{
    display: block;
    width: 100%;
    transition: all 0.5s;
    overflow: hidden;
}

.gallery-box img:hover{
    transform: scale(1.1);
}
/**************************************/

/**************************************/
/*Pricing Section */

.pricing-heading h3{
    display: inline-block;
    color: #e67e22;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
}

.pricing-body{
    padding: 9.6rem 10rem;
}



.card{
    border: 2px solid #f6790b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
    padding: 4rem 0;
}

.card h3{
    text-transform: uppercase;
    color: #f6790b;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.money-card-heading{
    width: 100%;
    text-align: center;
}

.money{
    font-size: 6.6rem;
    margin: 1.8rem;
}

.money-desc{
    display: block;
    font-size: 1.8rem;
    
}

.money-attributes{
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
    padding: auto;
}



.money-attribute ion-icon{
    font-size: 3.6rem;
    color: #f6790b;
    margin-right: 3rem;
}

.money-attribute span{
    font-size: 2.2rem;
}


.pricing-footer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/**************************************/
